trunk/modules/WSRF/Counter/Counter.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="http://www.sve.man.ac.uk/Counter" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.sve.man.ac.uk/Counter" xmlns:tns="http://www.sve.man.ac.uk/Counter" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsdl="http://vermont.mvc.mcc.ac.uk/WSDL/Counter.xsd">
	<types>
		<xsd:schema targetNamespace="http://vermont.mvc.mcc.ac.uk/WSDL/Counter.xsd">
			<xsd:element name="addRequest" type="xsd:int" />
			<xsd:element name="addResponse" type="xsd:int" />
			<xsd:element name="subtractRequest" type="xsd:int" />
			<xsd:element name="subtractResponse" type="xsd:int" />
			<xsd:element name="getValueResponse" type="xsd:int" />
		</xsd:schema>
	</types>
	<message name="addRequest">
		<part name="addRequestSoapMsg" element="xsdl:addRequest"/>
	</message>
	<message name="addResponse">
		<part name="addResponseSoapMsg" element="xsdl:addResponse"/>
	</message>
	<message name="subtractRequest">
		<part name="subtractRequestSoapMsg" element="xsdl:subtractRequest"/>
	</message>
	<message name="subtractResponse">
		<part name="subtractResponseSoapMsg" element="xsdl:subtractResponse"/>
	</message>
	<message name="getValueRequest" />
	<message name="getValueResponse">
		<part name="getValueResponseSoapMsg" element="xsdl:getValueResponse"/>
	</message>	
	<portType name="http://www.sve.man.ac.uk/CounterPortType">
		<operation name="add">
			<input message="tns:addRequest" />
			<output message="tns:addResponse" />
		</operation>
		<operation name="subtract">
			<input message="tns:subtractRequest" />
			<output message="tns:subtractResponse" />
		</operation>
		<operation name="getValue">
			<input message="tns:getValueRequest" />
			<output message="tns:getValueResponse" />
		</operation>		
	</portType>
	<binding name="http://www.sve.man.ac.uk/CounterBinding" type="tns:http://www.sve.man.ac.uk/CounterPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
			<operation name="add">
				<soap:operation style="rpc" soapAction="http://www.sve.man.ac.uk/Counter#add"/>
				<input>
					<soap:body use="literal" namespace="http://www.sve.man.ac.uk/Counter"/>
				</input>
				<output>
					<soap:body use="literal" namespace="http://www.sve.man.ac.uk/Counter"/>
				</output>
			</operation>
			<operation name="subtract">
				<soap:operation style="rpc" soapAction="http://www.sve.man.ac.uk/Counter#subtract"/>
				<input>
					<soap:body use="literal"  namespace="http://www.sve.man.ac.uk/Counter"/>
				</input>
				<output>
                                        <soap:body use="literal" namespace="http://www.sve.man.ac.uk/Counter"/>
                                </output>
			</operation>
			<operation name="getValue">
				<soap:operation style="rpc" soapAction="http://www.sve.man.ac.uk/Counter#getValue"/>
				<input>
					<soap:body use="literal"  namespace="http://www.sve.man.ac.uk/Counter"/>
				</input>
				<output>
                                        <soap:body use="literal" namespace="http://www.sve.man.ac.uk/Counter"/>
                                </output>
			</operation>			
			
	</binding>
	<service name="http://www.sve.man.ac.uk/Counter">
		<documentation>
			Counter Grid Service.
		</documentation>
		<port name="http://www.sve.man.ac.uk/CounterPort" binding="tns:http://www.sve.man.ac.uk/CounterBinding">
			<soap:address location="Well I don't Really know"/>
		</port>
	</service>
</definitions>
